In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',30) # set the maximum width

df = pd.read_csv('C:/Users/yasin/Desktop/COMP-309/Week-11/titanic3.csv')

# Explore the data check the column values
print(df.columns.values)
print (df.head())
print (df.info())

['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None

In [8]:
# Check the categorical columns (note the loop)

# Add all the object type column to categories list
categories = []
for col, col_type in df.dtypes.items():
     if col_type == 'O':  
            categories.append(col)
     else:
        df[col].fillna(0, inplace=True)
print(categories)

print(df.columns.values)
print(df.head())

['name', 'sex', 'ticket', 'cabin', 'embarked', 'boat', 'home.dest']
['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']
   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    0.0
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    0.0
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    0.0
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    0.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [9]:
# Check the missing values (null) in each column
print(len(df) - df.count())  #Cabin , boat, home.dest have so many missing values

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin        1014
embarked        2
boat          823
body            0
home.dest     564
dtype: int64

In [10]:
# For the purpose of this model select three features age, sex and embarked
include = ['age','sex', 'embarked', 'survived']
df_ = df[include]

print(df_.columns.values)
print(df_.head())

['age' 'sex' 'embarked' 'survived']
       age     sex embarked  survived
0  29.0000  female        S         1
1   0.9167    male        S         1
2   2.0000  female        S         0
3  30.0000    male        S         0
4  25.0000  female        S         0

In [13]:
# Print the unique values for all the three features sex, embarked and age
print(df_['sex'].unique())
print(df_['embarked'].unique())
print(df_['age'].unique())

# Print the unique values for the class survived
print(df_['survived'].unique())

['female' 'male']
['S' 'C' nan 'Q']
[29.      0.9167  2.     30.     25.     48.     63.     39.     53.
 71.     47.     18.     24.     26.     80.      0.     50.     32.
 36.     37.     42.     19.     35.     28.     45.     40.     58.
 22.     41.     44.     59.     60.     33.     17.     11.     14.
 49.     76.     46.     27.     64.     55.     70.     38.     51.
 31.      4.     54.     23.     43.     52.     16.     32.5    21.
 15.     65.     28.5    45.5    56.     13.     61.     34.      6.
 57.     62.     67.      1.     12.     20.      0.8333  8.      0.6667
  7.      3.     36.5    18.5     5.     66.      9.      0.75   70.5
 22.5     0.3333  0.1667 40.5    10.     23.5    34.5    20.5    30.5
 55.5    38.5    14.5    24.5    60.5    74.      0.4167 11.5    26.5   ]
[1 0]

In [15]:
# Check the null values

print(df_.isnull().sum())

# OR, print(len(df_) - df_.count())

# for specific column
# print(df_['sex'].isnull().sum())
# print(df_['embarked'].isnull().sum())

age         0
sex         0
embarked    2
survived    0
dtype: int64

In [18]:
# Drop the rows with missing values
df_.loc[:,('age','sex', 'embarked', 'survived')].dropna(axis=0,how='any',inplace=True)
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1309 non-null   float64
 1   sex       1309 non-null   object
 2   embarked  1307 non-null   object
 3   survived  1309 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 41.0+ KB

In [19]:
# Identify the features with categorical values
categoricals = []
for col, col_type in df_.dtypes.iteritems():
    if col_type == 'O':
        categoricals.append(col)
print(categoricals)

['sex', 'embarked']

In [20]:
# Convert the categorical values into numeric columns using the get dummie

df_dummy = pd.get_dummies(df_, columns=categoricals, dummy_na=False)
print(df_dummy.head())
print(df_dummy.columns.values)

# Check for any missing values
print(len(df_dummy) - df_dummy.count())

       age  survived  sex_female  sex_male  embarked_C  embarked_Q  embarked_S
0  29.0000         1           1         0           0           0           1
1   0.9167         1           0         1           0           0           1
2   2.0000         0           1         0           0           0           1
3  30.0000         0           0         1           0           0           1
4  25.0000         0           1         0           0           0           1
['age' 'survived' 'sex_female' 'sex_male' 'embarked_C' 'embarked_Q'
 'embarked_S']
age           0
survived      0
sex_female    0
sex_male      0
embarked_C    0
embarked_Q    0
embarked_S    0
dtype: int64

In [23]:
# 11. Standardize the data

# Import preprocessing library from sklearn
from sklearn import preprocessing

# Save the column name into a variable called names
names = df_dummy.columns

# Create a scalar object
scaler = preprocessing.StandardScaler()

# Create a new data frame, fit the data into the scalar object. Note that this object is an array, therefore you will need to
# reconvert it into a dataframe using pandas (pd.DataFrame)

scaled_df = scaler.fit_transform(df_dummy)
scaled_df = pd.DataFrame(scaled_df, columns=names)

print(scaled_df.head())
print(scaled_df['age'].describe())
print(scaled_df['sex_male'].describe())
print(scaled_df['sex_female'].describe())
print(scaled_df['embarked_C'].describe())
print(scaled_df['embarked_Q'].describe())
print(scaled_df['embarked_S'].describe())
print(scaled_df['survived'].describe())
print(scaled_df.dtypes)

        age  survived  sex_female  sex_male  embarked_C  embarked_Q  \
0  0.291313  1.272006    1.344995 -1.344995    -0.50977    -0.32204
1 -1.305769  1.272006   -0.743497  0.743497    -0.50977    -0.32204
2 -1.244163 -0.786160    1.344995 -1.344995    -0.50977    -0.32204
3  0.348182 -0.786160   -0.743497  0.743497    -0.50977    -0.32204
4  0.063835 -0.786160    1.344995 -1.344995    -0.50977    -0.32204

   embarked_S
0    0.657394
1    0.657394
2    0.657394
3    0.657394
4    0.657394
count    1.309000e+03
mean    -1.715290e-15
std      1.000382e+00
min     -1.357902e+00
25%     -9.598153e-01
50%      6.965676e-03
75%      6.325298e-01
max      3.191656e+00
Name: age, dtype: float64
count    1.309000e+03
mean     1.231338e-15
std      1.000382e+00
min     -1.344995e+00
25%     -1.344995e+00
50%      7.434969e-01
75%      7.434969e-01
max      7.434969e-01
Name: sex_male, dtype: float64
count    1.309000e+03
mean    -1.231338e-15
std      1.000382e+00
min     -7.434969e-01
25%     -7.434969e-01
50%     -7.434969e-01
75%      1.344995e+00
max      1.344995e+00
Name: sex_female, dtype: float64
count    1.309000e+03
mean    -8.091312e-17
std      1.000382e+00
min     -5.097698e-01
25%     -5.097698e-01
50%     -5.097698e-01
75%     -5.097698e-01
max      1.961670e+00
Name: embarked_C, dtype: float64
count    1.309000e+03
mean     1.107763e-15
std      1.000382e+00
min     -3.220403e-01
25%     -3.220403e-01
50%     -3.220403e-01
75%     -3.220403e-01
max      3.105202e+00
Name: embarked_Q, dtype: float64
count    1.309000e+03
mean    -2.150898e-16
std      1.000382e+00
min     -1.521159e+00
25%     -1.521159e+00
50%      6.573936e-01
75%      6.573936e-01
max      6.573936e-01
Name: embarked_S, dtype: float64
count    1.309000e+03
mean     1.086136e-15
std      1.000382e+00
min     -7.861596e-01
25%     -7.861596e-01
50%     -7.861596e-01
75%      1.272006e+00
max      1.272006e+00
Name: survived, dtype: float64
age           float64
survived      float64
sex_female    float64
sex_male      float64
embarked_C    float64
embarked_Q    float64
embarked_S    float64
dtype: object

In [24]:
# Build the logistic regression model

# import the model
from sklearn.linear_model import LogisticRegression

# Define the dependent variable
dependent_variable = 'survived'

# Select the feature using the difference method
x = scaled_df[scaled_df.columns.difference([dependent_variable])]
x.dtypes
y = scaled_df[dependent_variable]

# Convert the class from float back to integer using the astype method
y = y.astype(int)

# Split the data into 80% for taining and 20% for testing
from sklearn.model_selection import train_test_split
trainX,testX,trainY,testY = train_test_split(x,y, test_size = 0.2)

#build the model
lr = LogisticRegression(solver='lbfgs')
lr.fit(x, y)

# Validate score the model using 10 fold cross validation
from sklearn.model_selection import KFold
crossvalidation = KFold(n_splits=10, shuffle=True, random_state=1)

# Print the final score
from sklearn.model_selection import cross_val_score
score = np.mean(cross_val_score(lr, trainX, trainY, scoring='accuracy', cv=crossvalidation, n_jobs=1))
print ('The score of the 10 fold run is: ',score)

The score of the 10 fold run is:  0.7774725274725275

In [ ]:
# Test the model using the 20% testing data

# Use the predict method
testY_predict = lr.predict(testX)
testY_predict.dtype

# Import the metrics module
from sklearn import metrics 
labels = y.unique()
print(labels)

# Print the accuracy
print("Accuracy:",metrics.accuracy_score(testY, testY_predict))

# Print the confusion matrix
from sklearn.metrics import confusion_matrix
print("Confusion matrix \n" , confusion_matrix(testY, testY_predict, labels))